In [91]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
from geopy.geocoders import Nominatim

In [93]:
# Import our input dataset
ny_df = pd.read_csv('../Resources/merged_cleaned_ny.csv', nrows=2000)
ny_df.head()

,primary_key,listing_id,listing_url,name,host_id,host_url,host_name,host_since,host_is_superhost,host_listings_count,...,number_of_reviews_l30d,first_review,last_review,review_scores_rating,calculated_host_listings_count,reviews_per_month,date,available,price,adjusted_price
0,1,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,2845,https://www.airbnb.com/users/show/2845,Jennifer,9/9/2008,f,7,...,0,11/21/2009,6/21/2022,4.68,3,0.3,7/31/2023,f,$240.00,$240.00
1,2,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,2845,https://www.airbnb.com/users/show/2845,Jennifer,9/9/2008,f,7,...,0,11/21/2009,6/21/2022,4.68,3,0.3,8/1/2023,f,$240.00,$240.00
2,3,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,2845,https://www.airbnb.com/users/show/2845,Jennifer,9/9/2008,f,7,...,0,11/21/2009,6/21/2022,4.68,3,0.3,8/2/2023,f,$240.00,$240.00
3,4,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,2845,https://www.airbnb.com/users/show/2845,Jennifer,9/9/2008,f,7,...,0,11/21/2009,6/21/2022,4.68,3,0.3,8/3/2023,t,$240.00,$240.00
4,5,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York · ★4.68 · Studio · 1 b...,2845,https://www.airbnb.com/users/show/2845,Jennifer,9/9/2008,f,7,...,0,11/21/2009,6/21/2022,4.68,3,0.3,8/4/2023,t,$240.00,$240.00

In [94]:
ny_df.columns

Index(['primary_key', 'listing_id', 'listing_url', 'name', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_is_superhost',
       'host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'first_review', 'last_review', 'review_scores_rating',
       'calculated_host_listings_count', 'reviews_per_month', 'date',
       'available', 'price', 'adjusted_price'],
      dtype='object')

In [95]:
ny_df=ny_df[['room_type','accommodates', 'bedrooms','latitude',
       'longitude','price']]

ny_df['bedrooms']= ny_df['bedrooms'].fillna(1)
ny_df['price']= ny_df['price'].str.extract('(\d+\.\d+|\d+)').astype(float)

ny_df.head(3)

         room_type  accommodates  bedrooms  latitude  longitude  price
0  Entire home/apt             1       1.0  40.75356  -73.98559  240.0
1  Entire home/apt             1       1.0  40.75356  -73.98559  240.0
2  Entire home/apt             1       1.0  40.75356  -73.98559  240.0

In [98]:
ny_df_zip = ny_df.sample(n=200, random_state=42)

In [99]:

# Initialize the geocoder (you can choose other geocoders as well)
def get_zip_code(latitude, longitude):
    geolocator = Nominatim(user_agent="my_geocoder")
    location = geolocator.reverse((latitude, longitude))
    if location and 'postcode' in location.raw['address']:
        return location.raw['address']['postcode']
    else:
        return None

ny_df_zip['zip_code'] = ny_df_zip.apply(lambda row: get_zip_code(row['latitude'], row['longitude']), axis=1)

#Display
ny_df_zip.head(3)

,room_type,accommodates,bedrooms,latitude,longitude,price,zip_code
1860,Private room,1,1.0,40.82782,-73.94730,99.0,10031
353,Entire home/apt,3,1.0,40.73072,-73.99275,250.0,10003
1333,Entire home/apt,2,1.0,40.68253,-73.94295,135.0,11216

In [100]:
df_reduced = ny_df_zip[['room_type', 'accommodates', 'bedrooms', 'price', 'zip_code']]
df_reduced.head(3)

            room_type  accommodates  bedrooms  price zip_code
1860     Private room             1       1.0   99.0    10031
353   Entire home/apt             3       1.0  250.0    10003
1333  Entire home/apt             2       1.0  135.0    11216

In [101]:
# Encode data
encode_df = pd.get_dummies(df_reduced, columns=['room_type'], prefix=['room_type'])
encode_df.head(3)

,accommodates,bedrooms,price,zip_code,room_type_Entire home/apt,room_type_Private room
1860,1,1.0,99.0,10031,0,1
353,3,1.0,250.0,10003,1,0
1333,2,1.0,135.0,11216,1,0

In [102]:
encode_df['zip_code']=encode_df['zip_code'].astype(int)

In [103]:
encode_df.dtypes

accommodates                   int64
bedrooms                     float64
price                        float64
zip_code                       int32
room_type_Entire home/apt      uint8
room_type_Private room         uint8
dtype: object

In [104]:
encode_df = encode_df.dropna()

In [105]:
y = encode_df.price.values
X = encode_df.drop(columns="price").values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [109]:
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=5))
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))
nn.add(tf.keras.layers.Dense(units=1))

nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 8)                 48

 dense_28 (Dense)            (None, 8)                 72

 dense_29 (Dense)            (None, 1)                 9

=================================================================
Total params: 129 (516.00 Byte)
Trainable params: 129 (516.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [110]:
nn.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_absolute_error'])

In [111]:
#fit_model = nn.fit(X_train,y_train,epochs=30)

fit_model = nn.fit(X_train, y_train, epochs=100, validation_split=0.2)

Epoch 1/100
4/4 [==============================] - 0s 36ms/step - loss: 27295.1758 - mean_absolute_error: 149.0218 - val_loss: 14468.9287 - val_mean_absolute_error: 99.7195
Epoch 2/100
4/4 [==============================] - 0s 10ms/step - loss: 12046.4824 - mean_absolute_error: 96.2974 - val_loss: 12428.7285 - val_mean_absolute_error: 79.0248
Epoch 3/100
4/4 [==============================] - 0s 9ms/step - loss: 8100.2168 - mean_absolute_error: 67.8350 - val_loss: 16555.1680 - val_mean_absolute_error: 83.7182
Epoch 4/100
4/4 [==============================] - 0s 8ms/step - loss: 10054.6377 - mean_absolute_error: 64.3139 - val_loss: 19113.0879 - val_mean_absolute_error: 90.2653
Epoch 5/100
4/4 [==============================] - 0s 7ms/step - loss: 10557.6670 - mean_absolute_error: 65.2050 - val_loss: 17438.9766 - val_mean_absolute_error: 86.0906
Epoch 6/100
4/4 [==============================] - 0s 8ms/step - loss: 9176.1055 - mean_absolute_error: 64.0683 - val_loss: 14546.0840 - val_mean_absolute_error: 78.9905
Epoch 7/100
4/4 [==============================] - 0s 8ms/step - loss: 8148.7969 - mean_absolute_error: 67.2829 - val_loss: 12719.3086 - val_mean_absolute_error: 78.1795
Epoch 8/100
4/4 [==============================] - 0s 8ms/step - loss: 8289.3467 - mean_absolute_error: 74.1298 - val_loss: 12161.4023 - val_mean_absolute_error: 80.1733
Epoch 9/100
4/4 [==============================] - 0s 7ms/step - loss: 8547.9053 - mean_absolute_error: 76.9443 - val_loss: 12173.6094 - val_mean_absolute_error: 80.1012
Epoch 10/100
4/4 [==============================] - 0s 8ms/step - loss: 8437.0752 - mean_absolute_error: 75.5445 - val_loss: 12523.9580 - val_mean_absolute_error: 78.6802
Epoch 11/100
4/4 [==============================] - 0s 7ms/step - loss: 8132.6338 - mean_absolute_error: 71.7522 - val_loss: 13100.3789 - val_mean_absolute_error: 77.9684
Epoch 12/100
4/4 [==============================] - 0s 8ms/step - loss: 8138.1226 - mean_absolute_error: 68.8700 - val_loss: 13683.9238 - val_mean_absolute_error: 77.9088
Epoch 13/100
4/4 [==============================] - 0s 9ms/step - loss: 8155.6431 - mean_absolute_error: 67.2472 - val_loss: 13697.4199 - val_mean_absolute_error: 77.9156
Epoch 14/100
4/4 [==============================] - 0s 9ms/step - loss: 8124.6611 - mean_absolute_error: 67.4441 - val_loss: 13422.0713 - val_mean_absolute_error: 77.9035
Epoch 15/100
4/4 [==============================] - 0s 10ms/step - loss: 8067.2051 - mean_absolute_error: 68.6820 - val_loss: 12951.2070 - val_mean_absolute_error: 77.9919
Epoch 16/100
4/4 [==============================] - 0s 12ms/step - loss: 8110.5400 - mean_absolute_error: 71.1853 - val_loss: 12698.4854 - val_mean_absolute_error: 78.1865
Epoch 17/100
4/4 [==============================] - 0s 10ms/step - loss: 8135.5200 - mean_absolute_error: 71.4833 - val_loss: 12842.8623 - val_mean_absolute_error: 78.0119
Epoch 18/100
4/4 [==============================] - 0s 9ms/step - loss: 8097.0312 - mean_absolute_error: 70.6839 - val_loss: 12982.4561 - val_mean_absolute_error: 77.9797
Epoch 19/100
4/4 [==============================] - 0s 7ms/step - loss: 8084.1074 - mean_absolute_error: 70.0027 - val_loss: 13106.2881 - val_mean_absolute_error: 77.9526
Epoch 20/100
4/4 [==============================] - 0s 8ms/step - loss: 8103.9614 - mean_absolute_error: 69.1112 - val_loss: 13360.2793 - val_mean_absolute_error: 77.9032
Epoch 21/100
4/4 [==============================] - 0s 8ms/step - loss: 8104.1719 - mean_absolute_error: 68.3335 - val_loss: 13370.9326 - val_mean_absolute_error: 77.8993
Epoch 22/100
4/4 [==============================] - 0s 8ms/step - loss: 8107.0728 - mean_absolute_error: 69.0558 - val_loss: 13102.9434 - val_mean_absolute_error: 77.9475
Epoch 23/100
4/4 [==============================] - 0s 8ms/step - loss: 8078.6450 - mean_absolute_error: 69.5354 - val_loss: 13033.0625 - val_mean_absolute_error: 77.9595
Epoch 24/100
4/4 [==============================] - 0s 8ms/step - loss: 8092.0044 - mean_absolute_error: 69.7437 - val_loss: 13021.1006 - val_mean_absolute_error: 77.9600
Epoch 25/100
4/4 [==============================] - 0s 9ms/step - loss: 8097.7310 - mean_absolute_error: 70.3752 - val_loss: 12883.7500 - val_mean_absolute_error: 77.9870
Epoch 26/100
4/4 [==============================] - 0s 8ms/step - loss: 8102.1377 - mean_absolute_error: 70.2729 - val_loss: 13048.6562 - val_mean_absolute_error: 77.9503
Epoch 27/100
4/4 [==============================] - 0s 9ms/step - loss: 8088.4141 - mean_absolute_error: 69.3438 - val_loss: 13278.0020 - val_mean_absolute_error: 77.9042
Epoch 28/100
4/4 [==============================] - 0s 8ms/step - loss: 8093.0083 - mean_absolute_error: 68.6056 - val_loss: 13311.9971 - val_mean_absolute_error: 77.8960
Epoch 29/100
4/4 [==============================] - 0s 8ms/step - loss: 8152.5967 - mean_absolute_error: 69.8764 - val_loss: 12938.3301 - val_mean_absolute_error: 77.9670
Epoch 30/100
4/4 [==============================] - 0s 9ms/step - loss: 8082.0254 - mean_absolute_error: 70.0048 - val_loss: 13094.3789 - val_mean_absolute_error: 77.9330
Epoch 31/100
4/4 [==============================] - 0s 8ms/step - loss: 8073.0654 - mean_absolute_error: 69.4753 - val_loss: 13147.2080 - val_mean_absolute_error: 77.9206
Epoch 32/100
4/4 [==============================] - 0s 8ms/step - loss: 8129.8203 - mean_absolute_error: 68.8936 - val_loss: 13323.0508 - val_mean_absolute_error: 77.8859
Epoch 33/100
4/4 [==============================] - 0s 7ms/step - loss: 8078.7251 - mean_absolute_error: 68.8262 - val_loss: 13107.5039 - val_mean_absolute_error: 77.9243
Epoch 34/100
4/4 [==============================] - 0s 7ms/step - loss: 8109.9697 - mean_absolute_error: 70.0595 - val_loss: 12922.7471 - val_mean_absolute_error: 77.9601
Epoch 35/100
4/4 [==============================] - 0s 9ms/step - loss: 8073.8350 - mean_absolute_error: 70.2268 - val_loss: 13071.9355 - val_mean_absolute_error: 77.9273
Epoch 36/100
4/4 [==============================] - 0s 9ms/step - loss: 8072.0737 - mean_absolute_error: 69.3836 - val_loss: 13233.9111 - val_mean_absolute_error: 77.8940
Epoch 37/100
4/4 [==============================] - 0s 9ms/step - loss: 8155.5283 - mean_absolute_error: 68.4263 - val_loss: 13491.3887 - val_mean_absolute_error: 77.8462
Epoch 38/100
4/4 [==============================] - 0s 8ms/step - loss: 8080.2812 - mean_absolute_error: 68.2137 - val_loss: 13170.4082 - val_mean_absolute_error: 77.9018
Epoch 39/100
4/4 [==============================] - 0s 11ms/step - loss: 8059.7646 - mean_absolute_error: 69.7249 - val_loss: 12809.2012 - val_mean_absolute_error: 77.9748
Epoch 40/100
4/4 [==============================] - 0s 8ms/step - loss: 8145.3149 - mean_absolute_error: 71.6337 - val_loss: 12672.3389 - val_mean_absolute_error: 78.1530
Epoch 41/100
4/4 [==============================] - 0s 8ms/step - loss: 8113.8594 - mean_absolute_error: 70.9118 - val_loss: 13162.2188 - val_mean_absolute_error: 77.8970
Epoch 42/100
4/4 [==============================] - 0s 7ms/step - loss: 8071.4243 - mean_absolute_error: 68.9425 - val_loss: 13381.4326 - val_mean_absolute_error: 77.8547
Epoch 43/100
4/4 [==============================] - 0s 11ms/step - loss: 8099.6821 - mean_absolute_error: 68.2453 - val_loss: 13403.0293 - val_mean_absolute_error: 77.8487
Epoch 44/100
4/4 [==============================] - 0s 9ms/step - loss: 8086.9009 - mean_absolute_error: 68.6905 - val_loss: 13017.4365 - val_mean_absolute_error: 77.9192
Epoch 45/100
4/4 [==============================] - 0s 9ms/step - loss: 8080.3760 - mean_absolute_error: 70.2776 - val_loss: 12885.2402 - val_mean_absolute_error: 77.9450
Epoch 46/100
4/4 [==============================] - 0s 10ms/step - loss: 8074.0474 - mean_absolute_error: 70.4623 - val_loss: 12966.0488 - val_mean_absolute_error: 77.9255
Epoch 47/100
4/4 [==============================] - 0s 8ms/step - loss: 8085.8306 - mean_absolute_error: 69.7210 - val_loss: 13141.7988 - val_mean_absolute_error: 77.8881
Epoch 48/100
4/4 [==============================] - 0s 9ms/step - loss: 8081.2495 - mean_absolute_error: 69.6122 - val_loss: 13118.1035 - val_mean_absolute_error: 77.8905
Epoch 49/100
4/4 [==============================] - 0s 7ms/step - loss: 8060.7832 - mean_absolute_error: 68.9708 - val_loss: 13322.8301 - val_mean_absolute_error: 77.8502
Epoch 50/100
4/4 [==============================] - 0s 8ms/step - loss: 8107.7593 - mean_absolute_error: 68.5958 - val_loss: 13241.8066 - val_mean_absolute_error: 77.8628
Epoch 51/100
4/4 [==============================] - 0s 9ms/step - loss: 8123.2051 - mean_absolute_error: 69.7197 - val_loss: 13017.2412 - val_mean_absolute_error: 77.9042
Epoch 52/100
4/4 [==============================] - 0s 7ms/step - loss: 8062.9731 - mean_absolute_error: 69.3550 - val_loss: 13234.7148 - val_mean_absolute_error: 77.8599
Epoch 53/100
4/4 [==============================] - 0s 10ms/step - loss: 8121.3452 - mean_absolute_error: 68.5180 - val_loss: 13368.6826 - val_mean_absolute_error: 77.8335
Epoch 54/100
4/4 [==============================] - 0s 8ms/step - loss: 8074.2949 - mean_absolute_error: 69.0266 - val_loss: 13004.7656 - val_mean_absolute_error: 77.9004
Epoch 55/100
4/4 [==============================] - 0s 7ms/step - loss: 8074.3125 - mean_absolute_error: 69.6335 - val_loss: 13015.4160 - val_mean_absolute_error: 77.8960
Epoch 56/100
4/4 [==============================] - 0s 8ms/step - loss: 8114.8467 - mean_absolute_error: 70.4357 - val_loss: 12842.9775 - val_mean_absolute_error: 77.9306
Epoch 57/100
4/4 [==============================] - 0s 8ms/step - loss: 8058.1406 - mean_absolute_error: 70.2410 - val_loss: 13117.5977 - val_mean_absolute_error: 77.8713
Epoch 58/100
4/4 [==============================] - 0s 9ms/step - loss: 8098.6978 - mean_absolute_error: 68.4016 - val_loss: 13448.6113 - val_mean_absolute_error: 77.8089
Epoch 59/100
4/4 [==============================] - 0s 8ms/step - loss: 8114.9917 - mean_absolute_error: 68.9096 - val_loss: 13024.0352 - val_mean_absolute_error: 77.8855
Epoch 60/100
4/4 [==============================] - 0s 11ms/step - loss: 8058.4033 - mean_absolute_error: 69.6312 - val_loss: 13063.6416 - val_mean_absolute_error: 77.8753
Epoch 61/100
4/4 [==============================] - 0s 8ms/step - loss: 8059.0005 - mean_absolute_error: 69.3311 - val_loss: 13135.2061 - val_mean_absolute_error: 77.8591
Epoch 62/100
4/4 [==============================] - 0s 9ms/step - loss: 8062.4966 - mean_absolute_error: 69.2426 - val_loss: 13121.5254 - val_mean_absolute_error: 77.8595
Epoch 63/100
4/4 [==============================] - 0s 9ms/step - loss: 8066.0552 - mean_absolute_error: 69.4015 - val_loss: 12990.8926 - val_mean_absolute_error: 77.8835
Epoch 64/100
4/4 [==============================] - 0s 11ms/step - loss: 8060.2856 - mean_absolute_error: 69.7097 - val_loss: 13048.1348 - val_mean_absolute_error: 77.8695
Epoch 65/100
4/4 [==============================] - 0s 8ms/step - loss: 8063.5566 - mean_absolute_error: 69.5125 - val_loss: 13103.9727 - val_mean_absolute_error: 77.8563
Epoch 66/100
4/4 [==============================] - 0s 8ms/step - loss: 8052.5786 - mean_absolute_error: 69.3613 - val_loss: 13033.0576 - val_mean_absolute_error: 77.8682
Epoch 67/100
4/4 [==============================] - 0s 7ms/step - loss: 8075.8145 - mean_absolute_error: 70.2189 - val_loss: 12898.9385 - val_mean_absolute_error: 77.8938
Epoch 68/100
4/4 [==============================] - 0s 7ms/step - loss: 8062.4116 - mean_absolute_error: 70.2845 - val_loss: 12949.0176 - val_mean_absolute_error: 77.8810
Epoch 69/100
4/4 [==============================] - 0s 8ms/step - loss: 8094.2749 - mean_absolute_error: 69.4733 - val_loss: 13290.8623 - val_mean_absolute_error: 77.8124
Epoch 70/100
4/4 [==============================] - 0s 8ms/step - loss: 8075.4565 - mean_absolute_error: 69.0644 - val_loss: 13059.5654 - val_mean_absolute_error: 77.8539
Epoch 71/100
4/4 [==============================] - 0s 8ms/step - loss: 8071.8447 - mean_absolute_error: 69.8592 - val_loss: 13006.8682 - val_mean_absolute_error: 77.8623
Epoch 72/100
4/4 [==============================] - 0s 8ms/step - loss: 8053.4116 - mean_absolute_error: 69.5092 - val_loss: 13173.8721 - val_mean_absolute_error: 77.8274
Epoch 73/100
4/4 [==============================] - 0s 8ms/step - loss: 8165.8184 - mean_absolute_error: 70.3586 - val_loss: 12998.5889 - val_mean_absolute_error: 77.8595
Epoch 74/100
4/4 [==============================] - 0s 7ms/step - loss: 8045.7378 - mean_absolute_error: 69.0428 - val_loss: 13418.7520 - val_mean_absolute_error: 77.7786
Epoch 75/100
4/4 [==============================] - 0s 7ms/step - loss: 8088.5640 - mean_absolute_error: 68.1322 - val_loss: 13286.1211 - val_mean_absolute_error: 77.7997
Epoch 76/100
4/4 [==============================] - 0s 9ms/step - loss: 8068.7300 - mean_absolute_error: 68.4222 - val_loss: 13212.5908 - val_mean_absolute_error: 77.8111
Epoch 77/100
4/4 [==============================] - 0s 7ms/step - loss: 8081.6187 - mean_absolute_error: 69.6161 - val_loss: 12988.5273 - val_mean_absolute_error: 77.8525
Epoch 78/100
4/4 [==============================] - 0s 8ms/step - loss: 8073.9595 - mean_absolute_error: 69.5843 - val_loss: 13106.5059 - val_mean_absolute_error: 77.8268
Epoch 79/100
4/4 [==============================] - 0s 8ms/step - loss: 8071.2646 - mean_absolute_error: 69.9645 - val_loss: 12890.7314 - val_mean_absolute_error: 77.8686
Epoch 80/100
4/4 [==============================] - 0s 7ms/step - loss: 8107.9126 - mean_absolute_error: 69.7336 - val_loss: 13128.8877 - val_mean_absolute_error: 77.8180
Epoch 81/100
4/4 [==============================] - 0s 9ms/step - loss: 8063.8184 - mean_absolute_error: 69.4711 - val_loss: 12983.4795 - val_mean_absolute_error: 77.8446
Epoch 82/100
4/4 [==============================] - 0s 8ms/step - loss: 8062.8521 - mean_absolute_error: 69.9786 - val_loss: 13039.7588 - val_mean_absolute_error: 77.8308
Epoch 83/100
4/4 [==============================] - 0s 7ms/step - loss: 8080.3105 - mean_absolute_error: 69.2216 - val_loss: 13239.4492 - val_mean_absolute_error: 77.7904
Epoch 84/100
4/4 [==============================] - 0s 8ms/step - loss: 8049.9712 - mean_absolute_error: 68.5855 - val_loss: 13174.4336 - val_mean_absolute_error: 77.8003
Epoch 85/100
4/4 [==============================] - 0s 8ms/step - loss: 8055.1646 - mean_absolute_error: 69.3889 - val_loss: 12894.6523 - val_mean_absolute_error: 77.8542
Epoch 86/100
4/4 [==============================] - 0s 12ms/step - loss: 8057.6235 - mean_absolute_error: 69.9863 - val_loss: 12986.4678 - val_mean_absolute_error: 77.8326
Epoch 87/100
4/4 [==============================] - 0s 10ms/step - loss: 8049.0811 - mean_absolute_error: 69.9064 - val_loss: 13061.0684 - val_mean_absolute_error: 77.8153
Epoch 88/100
4/4 [==============================] - 0s 8ms/step - loss: 8042.8159 - mean_absolute_error: 69.6479 - val_loss: 13065.6924 - val_mean_absolute_error: 77.8121
Epoch 89/100
4/4 [==============================] - 0s 8ms/step - loss: 8038.9019 - mean_absolute_error: 69.1500 - val_loss: 13231.9219 - val_mean_absolute_error: 77.7782
Epoch 90/100
4/4 [==============================] - 0s 9ms/step - loss: 8083.0259 - mean_absolute_error: 69.1932 - val_loss: 13036.2764 - val_mean_absolute_error: 77.8135
Epoch 91/100
4/4 [==============================] - 0s 8ms/step - loss: 8191.2339 - mean_absolute_error: 69.2223 - val_loss: 13446.2451 - val_mean_absolute_error: 77.7358
Epoch 92/100
4/4 [==============================] - 0s 9ms/step - loss: 8076.2085 - mean_absolute_error: 69.1853 - val_loss: 12757.2598 - val_mean_absolute_error: 77.8688
Epoch 93/100
4/4 [==============================] - 0s 8ms/step - loss: 8076.7412 - mean_absolute_error: 70.4923 - val_loss: 12901.5176 - val_mean_absolute_error: 77.8344
Epoch 94/100
4/4 [==============================] - 0s 8ms/step - loss: 8052.0713 - mean_absolute_error: 70.1433 - val_loss: 12934.9043 - val_mean_absolute_error: 77.8250
Epoch 95/100
4/4 [==============================] - 0s 9ms/step - loss: 8057.6104 - mean_absolute_error: 70.2406 - val_loss: 12954.7480 - val_mean_absolute_error: 77.8185
Epoch 96/100
4/4 [==============================] - 0s 8ms/step - loss: 8095.8604 - mean_absolute_error: 68.8031 - val_loss: 13405.1621 - val_mean_absolute_error: 77.7315
Epoch 97/100
4/4 [==============================] - 0s 9ms/step - loss: 8048.8862 - mean_absolute_error: 68.2598 - val_loss: 13075.6982 - val_mean_absolute_error: 77.7896
Epoch 98/100
4/4 [==============================] - 0s 8ms/step - loss: 8032.5059 - mean_absolute_error: 69.5617 - val_loss: 12957.3574 - val_mean_absolute_error: 77.8112
Epoch 99/100
4/4 [==============================] - 0s 8ms/step - loss: 8043.6313 - mean_absolute_error: 70.0126 - val_loss: 12881.3721 - val_mean_absolute_error: 77.8250
Epoch 100/100
4/4 [==============================] - 0s 9ms/step - loss: 8038.4946 - mean_absolute_error: 70.2035 - val_loss: 13013.6250 - val_mean_absolute_error: 77.7951

In [112]:
test_loss, test_mae = nn.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

2/2 [==============================] - 0s 3ms/step - loss: 8692.5967 - mean_absolute_error: 68.1748
Test Loss: 8692.5966796875, Test MAE: 68.17477416992188